<!DOCTYPE html>
<html ng-app="cowsayModule" ng-strict-di>
<head>
  <meta charset="utf-8" />
  <title>Cowsay Angular</title>
</head>
<body>
  <div class="flex-wrap column" ng-controller="cowsayCtrl as main">
    <section class="flex-item">
      <h1 ng-bind="main.title"></h1>
    </section>
    <section class="flex-item">
      <form novalidate>
        <div class="form-section">
          <label>What do you want to say?</label>
          <input type="text" ng-model="main.form.message"/>
        </div>
        <div class="form-section">
          <label>Who do you want to say it?</label>
          <select name="creature" ng-model="main.form.creature" ng-init="main.form.creature = main.creatures[0]" ng-options="creature for creature in main.creatures"></select>
        </div>
        <div class="form-section">
          <button type="submit" name="submit" ng-click="main.updateMsg()">View Result</button>
          <button type="button" name="save" ng-click="main.save()">Save Result</button>
          <button type="button" name="undo" ng-click="main.undo()">Undo Save</button>
          <button type="button" name="reset" ng-click="main.reset()">Reset</button>
        </div>
      </form>
    </section>
    <h2>RESULT</h2>
    <section class="flex-item">
      <pre class="flex-item" ng-bind="main.formOutput"></pre>
    </section>
    <h2>SAVED CREATURES</h2>
    <section class="flex-item">
      <div class="flex-wrap row">
        <pre class="flex-item" ng-repeat="save in main.saves track by $index" ng-bind="save"></pre>
      </div>
    </section>
    <section class="flex-item">
      <p>
        This app was created by Dan Peters. He's pretty awesome.
      </p>
    </section>
  </div>
</body>
</html>
