$backgroundColor: black;
$textColor: white;

html {
  background: $backgroundColor;
  color: $textColor;
  font-family: sans-serif;
}

body {
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 2em;
}

p {
  font-size: .5em;
}

label, input {
  display: block;
  margin-top: .4em;
  min-width: 20em;
  font-size: 1.2em;
  // margin-right: .6em;
}

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  margin: auto;
}

.form-section {
  margin-bottom: 1.2em;
}
