<!DOCTYPE html>
<html ng-app="cowApp">
  <head>
    <meta charset="utf-8">
    <title>Lab21-CowSay</title>
  </head>
  <body>
    <section ng-controller="CowSayController as cowSay">
      <form novalidate ng-submit="cowSay.save()">
        <input type="text" ng-model="cowSay.text">
        <input type="submit" value="Save">
        <select ng-model="cowSay.custom">
          <option ng-repeat="option in cowSay.cowOptions">
            {{option}}
          </option>
        </select>
        <pre>
          {{cowSay.title}}
          {{cowSay.update(cowSay.text)}}
        </pre>
      </form>
      <pre>
        {{cowSay.saved}}
      </pre>
      <button ng-click="cowSay.undo()">Undo</button>
    </section>
  </body>
</html>