<!DOCTYPE html>
<html ng-app="cowApp">
  <head>
    <meta charset="utf-8">
    <title>Lab21-CowSay</title>
  </head>
  <body>
    <section ng-controller="CowSayController as cowSay">
      <form ng-submit="cowSay.submit(cowSay.text)">
        <input type="text" ng-model="cowSay.text">
        <select>
          <option ng-repeat="message in cowSay.message">
            {{message}}
          </option>
        </select>
        <input type="submit" value="Save">
        <pre>
          {{cowSay.title}}
          {{cowSay.update(cowSay.text)}}
        </pre>
      </form>
      <!-- <form>
        <button ng-click="cowSay.click()">Create Cow</button>
        <pre>
          {{cowSay.click(this.text)}}
        </pre>
      </form> -->
      <!-- <h1> {{cowSay.title}} </h1>
      <input type="text" ng-model="cowSay.text">
      <button ng-click="cowSay.click(cowSay.text)">Click Here</button>
      <pre>
        {{cowSay.update(cowSay.text)}}
      </pre> -->
    </section>
    <!-- <section ng-controller="CowSayController as cowSayChild">
      <button ng-click="cowSayChild.click()">Create Cow</button>
      <pre>
        {{cowSayChild.click(cowSay.text)}}
      </pre>
    </section> -->
    <section ng-controller="CowSayController as cowSayChild">
      <button ng-click="cowSayChild.createCowClick(cowSay.text)">Create Cow</button>
      <pre>
        <!-- {{cowSayChild.update(input)}} -->
        {{cowSayChild.createCowClick(cowSay.text)}}
      </pre>
    </section>
  </body>
</html>