<!DOCTYPE html>
<html>
  <head>
    <title>Cowsay Client</title>
  </head>
  <body ng-app="cowsayApp">
    <section ng-controller="CowsayController as cowsayCtrl"> <!--first instance of CowsayController giving "as cowsayCtrl" and its properties a place to live in html -->
    <h1>{{cowsayCtrl.title}}</h1>
      <input type="text" ng-model="cowsayCtrl.text"> <!--ng-model allows us to create js object properties on the fly and update them within the controller's scope-->
      <select ng-model="cowsayCtrl.selectedOption">
        <option ng-repeat="animal in cowsayCtrl.listOfCows" value={{animal}}>{{animal}}
        </option>
      </select>
      <pre>
        {{cowsayCtrl.updateCow()}}
      </pre>
      <form ng-submit="cowsayCtrl.submitCowState()">
        <button type="submit">click me to save the text
        </button>
      </form>
      <button ng-click="cowsayCtrl.undo()">this undo button reverts back to last indice in the saved array
      </button>
      <pre ng-show="cowsayCtrl.arrayOfSubmissions.length"> <!--ng-show evaluates an expression to see if it's true/false-->
        {{cowsayCtrl.currentCow}}
      </pre>
    </section>

    <section ng-controller="CowsayController as cowsayCtrlInstanceTwo"> <!--second instance of CowsayController where cowsayCtrlInstanceTwo is the variable name of the instance. it still shares the same properties of the original CowsayController, but those properties can be changed with different values-->
    <h1>{{cowsayCtrlInstanceTwo.title2}}</h1>
      <input type="text" ng-model="cowsayCtrlInstanceTwo.text">
      <p> {{cowsayCtrlInstanceTwo.text}} </p>
    </section>
  </body>
</html>
