$primary-color: #7affa7;

body {
  background-color: $primary-color;
}

select {
  margin-bottom: 2em;
}

input {
  display: block;
  margin-bottom: 2em;
  width: 20em;
}

button {
  width: 21em;
  border-radius: 5px;
  // font-weight: bold;
  display: block;
  float: left;
}

p {
  padding-top: 20px;
}

.clearfix {
  clear: both;
}

pre {
  border: 1px solid;
  width: 20em;
  margin-top: 5em;
}
