<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title>Cowsay Client</title>
  </head>
  <body ng-controller="CowsayController as cowsayCtrl">
    <section>
      <h1> {{cowsayCtrl.title}} </h1>


      <form ng-submit="cowsayCtrl.submit()" novalidate>
        <input type="text" ng-model="cowsayCtrl.text">
        <!-- {{ cowsayCtrl.animals }} -->
        <select ng-model="cowsayCtrl.current">
          <option ng-repeat="animal in cowsayCtrl.animals" value="{{animal}}">{{animal}}</option>
        </select>
        <input type="submit" value="Submit">
        <pre>
          {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
        </pre>
      </form>
    </section>

    <section ng-show="cowsayCtrl.history[0]">
      <pre>
        {{cowsayCtrl.mostRecent}}
      </pre>
      <button ng-click="cowsayCtrl.undo()">click me to undo</button>
    </section>

  </body>
</html>
