<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <meta charset="utf-8">
    <title>Cowsay Client</title>
  </head>
  <body ng-controller="CowsayController as cowsayCtrl">

    <h1> {{cowsayCtrl.title}} </h1>

    <section>

      <form ng-submit="cowsayCtrl.submit()" novalidate>
        <input type="text" ng-model="cowsayCtrl.text">

        <select ng-model="cowsayCtrl.current">
          <option ng-repeat="animal in cowsayCtrl.animals" value="{{animal}}">{{animal}}</option>
        </select>
        <input type="submit" value="Submit">
      </form>

      <pre>
        {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
      </pre>

    </section>

    <section id="current" ng-show="cowsayCtrl.history[0]">
      <pre>
        {{cowsayCtrl.mostRecent}}
      </pre>
      <button ng-click="cowsayCtrl.undo()">click me to undo</button>
    </section>

  </body>
</html>
