$bodyColor: #ddd4d0;
$sectionColor: #ede4de;
$fontColor: #5f7f63;

body {
  display: inline-block;
  background-color: $bodyColor;
  color: $fontColor;
}

section {
  background-color: $sectionColor;
}