$app-bg: #ffffff;

body {
  align-items: center;
  background-color: $app-bg;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  width: 45%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(149, 233, 255);
  padding: 1em;
  margin: 1em;
}
